<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("partials/head"); %>
    <%- include("partials/ga_tracker"); %>
</head>

<body>
    <%- include("partials/navbar"); %>

    <div class="container">
        <!-- First Jumbotron (still here if needed) -->
        <div class="jumbotron">
            <div class="row align-items-center">
                <div class="col-sm-6 text-center">
                    <img src="img/avatar_bust_2.png">
                </div>
                <div class="col-sm-6">
                    <p class="lead text-center mt-5">
                        <b>My name is Jonathan.T, welcome to my page. I enjoy solving problems using
                            data, math and statistics.
                            I am currently working at <a
                                href="https://www.scor.com/en">SCOR</a> as a Data Science & Analytics Lead
                            based in Sydney, Australia. I am also the co-founder & CTO of the data consulting company,
                            <a href="https://bastion-labs.co/index">Bastion Labs</a>.
                        </b>
                    </p>
                </div>
            </div>
        </div>

        <!-- Embedded Content Below Jumbotron with hover effect -->
        <div class="row mb-5">
            <!-- YouTube Video Embed with hover effect -->
            <div class="col-md-4">
                <div class="embed-hover" style="height: 400px;">
                    <iframe src="https://www.youtube.com/embed/h3QbHX2L2y0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                    <div class="overlay">
                        <div class="text">
                            <h5>Bastion Labs Data Science & A.I Talk</h5>
                        </div>
                    </div>
                </div>
            </div>
            <!-- LinkedIn Post Embed with hover effect -->
            <div class="col-md-4">
                <div class="embed-hover" style="height: 400px;">
                    <iframe
                        src="https://www.linkedin.com/embed/feed/update/urn:li:ugcPost:7082713232209010689?compact=1"
                        frameborder="0" allowfullscreen title="Embedded post"></iframe>
                    <div class="overlay">
                        <div class="text">
                            <h5>Tableau SCOR Iron Viz 2023 Winning Presentation</h5>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Another LinkedIn Post Embed with hover effect -->
            <div class="col-md-4">
                <div class="embed-hover" style="height: 400px;">
                    <iframe src="https://www.linkedin.com/embed/feed/update/urn:li:ugcPost:7332783950681063424?compact=1" height="399" width="504" frameborder="0" allowfullscreen="" title="Embedded post"></iframe>
                    <div class="overlay">
                        <div class="text">
                            <h5>Back2Basics Content Series</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="shadow-lg jumbotron mt-2">
            <div class="row">
                <div class="col-sm-6">
                    <div id="myDiv"></div>
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col">
                            <h3 class="display-4">Feature Engineering Explained</h3>
                        </div>
                    </div>
                    <hr class="my-3">
                    <div class="row">
                        <div class="col">
                            What is feature engineering and why are we taught to add seemingly useless
                            variations of
                            certain features
                            to our dataset in the hopes of a "better prediction"?
                            The plot shows a very simple example of a 9-point dataset. Say we wanted to
                            model a
                            straight line to separate/ classify the red and blue points.
                            Without bending the line, this would be impossible. What happens when we add an
                            extra
                            calculated column to the dataset?
                            Click on the "Add feature" button to find out!
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <a class="btn btn-secondary btn-sm" id="add_feature">Add x<sup>2</sup>
                                feature</a>
                            <a class="btn btn-secondary btn-sm" id="remove_feature">Remove x<sup>2</sup>
                                feature</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            Now see if you can then use a flat plane (the straight line equivalent in 3d)
                            to split the red and blue points.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <a href="/articles/feature_engineering" class="btn btn-primary">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="shadow-lg jumbotron mt-2">
            <div class="row">
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col">
                            <h3 class="display-4">Simple Linear Regression</h3>
                        </div>
                    </div>
                    <hr class="my-3">
                    <div class="row">
                        <div class="col">
                            The Simple Linear Regressor is the OG machine learning algorithm and is
                            constrained
                            by a
                            line. It uses the Least Squares method in order to calculated the "best-fit
                            line" in
                            a
                            given dataset. Try out the widget
                            to see how close
                            you can get to the best fit line by manually tweaking the parameters and read
                            the
                            full
                            article to learn more about Simple Linear Regression.
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col">
                            <p>Parameter settings:</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <input type="range" class="slider" value="" min="0.0" max="4.0" step="0.5"
                                id="intercept"><label for="intercept">Intercept</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <input type="range" class="slider" value="" min="0.0" max="1.0" step="0.1" id="slope"><label
                                for="intercept">Slope</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            Errors:<p id="sumSquaredResiduals" class="lead"></p>
                        </div>
                        <div class="col-sm-6">
                            Minimized Error:<p id="leastSquaresResiduals" class="lead"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <a href="/articles/linear_regression" class="btn btn-primary">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <canvas id="leastSquaresWidget" width="200" height="200"></canvas>
                </div>
            </div>
        </div>
    </div>
    <%- include("partials/footer"); %>
</body>
<script src="/js/placeholder.js"></script>
<script src="/js/slr.js"></script>
</html>